<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Easy Chinese</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <%= link_to "Головна", root_path, class:"nav-link active"%>

        <%= link_to "Послуги", events_service_path, class:"nav-link"%>


        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/easy_chinese._?igshid=YmMyMTA2M2Y=">Instagram</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/easy.chinesee">Facebook</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.tiktok.com/@easychinese_ua?_t=8UQGpjzMojN&_r=1">TikTok</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
