<header>ВАС ВІТАЄ КОМАНДА EASY CHINESE!</<header>

</header>

<img src="https://scontent.fhmj1-1.fna.fbcdn.net/v/t39.30808-6/295184275_573241391141213_933793283183827728_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0Iws9Dd03acAX-X7KhR&_nc_ht=scontent.fhmj1-1.fna&oh=00_AT8VxceuyANhOXm7J4Ch4jfEN7cbtKn9SjQVdNDKMoJgnw&oe=62EA0796">
<br/>

<p>Привіт! Давайте знайомитись🤠! Ми Даня та Даша, студенти КНУ імені Тараса Шевченка і водночас викладачі китайської та англійської мов🙌
Маємо багатий досвід викладання😉 (відгуки можете переглянути на нашій сторінці в інстаграм) @easy_chinese._
Завжди готуємо індивідуальні заняття для кожного учня, залучаючи інтерактивні та цікаві матеріали💕
Маємо міжнародні сертифікати, що підтверджують рівень знання мови✌️
Тому якщо у вас виникло бажання вивчати або ж екзотичну китайську, або  усюди потрібну англійську, ми можемо вам допомогти❤️‍🔥</p>
